<h4 class="text-center text-primary my-3">Analysis of Crimes Committed During Day/Night</h4>

<div class="mb-3 d-inline-block col-lg-6 col-md-6 col-sm-12">
  <div class="p-2 bg-dark rounded">
    <app-is-dark-pie-chart
    ></app-is-dark-pie-chart>
  </div>
</div>

<div class="mb-3 d-inline-block col-lg-6  col-md-6 col-sm-12">
  <div class="p-2 bg-dark rounded">
    <app-time-linear-chart
    ></app-time-linear-chart>
  </div>
</div>

<div class="mb-3 d-inline-block col-lg-12">
  <div class="p-2 bg-dark rounded">
    <app-is-dark-bar-chart
    ></app-is-dark-bar-chart>
  </div>
</div>
