<div class="container-fluid">

  <div id="crimeTypeMapping" class="">
    <div class="dataMappingTitle">
      <div class="row">
        <h1 class="text-center mt-4 w-100">Data Mapping</h1>
      </div>
    </div>

    <div id="cityMapping" class="">
      <hr class="my-4">

      <div class="cityMappingTitle">
        <div class="row">
          <h2 class="text-center w-100">City Mapping</h2>
        </div>

      </div>

      <div class="">
        <div class="row ml-2">

          <div class="mt-4 w-100 row mx-auto">
            <div class="mt-4 w-100 row d-md-flex">
              <div class="col-lg-2 col-md-4 col-sm-12">
                  <h5 class="w-100 h-100 align-middle text-dark text-right text-center text-lg-right" name="button">{{ cityMappingName }}</h5>
              </div>
              <p class="text-muted text-center w-100 position-absolute mt-n2 d-none d-lg-block"><small>{{ cityMappingName }}&emsp;<i class="fas fa-long-arrow-alt-right"></i>&emsp;{{cityMapping[cityMappingName]}}</small></p>
              <div class="col-lg-8 col-md-4 d-none d-md-block my-auto ">

                <div class="w-100 bg-dark line">
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-12">
                <app-dropdown-menu
                  [styles]="dropdownStyles"
                  [data]="cities"
                  (selectedMenuItemChange)="cityMappingObjectUpdate(cityMappingName, $event)"
                >
                </app-dropdown-menu>

              </div>
            </div>
            <div class="row w-100 mt-1">
              <div class="col-lg-10 col-md-8 d-none d-md-block my-auto">

              </div>
              <div class="col-lg-2 col-md-4 col-sm-12">
                <button class="btn btn-info w-100" type="button" name="button" data-toggle="modal" data-target="#addCityModal">Add City</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="" class="">
      <hr class="my-4">

      <div class="CrimeTypeMappingTitle">
        <div class="row">
          <h2 class="text-center w-100">Crime Type Mapping</h2>
        </div>
      </div>

      <div class="row ml-2">

        <div class="mt-4 w-100 row d-none d-md-flex ">
          <div class="col-lg-2 col-md-4 col-sm-12">
            <h3 class="w-100 h-100 text-dark m-0 text-center" name="button">File Headers</h3>
          </div>
          <div class="col-lg-8 col-md-4 d-none d-md-block">

          </div>
          <div class="col-lg-2 col-md-4 col-sm-12">
            <h3 class="w-100 h-100 m-0 text-dark text-center" name="button">Database Headers</h3>
          </div>
        </div>

        <div *ngFor="let crimeType of userCrimeTypes" class="mt-4 w-100 row">
          <div class="col-lg-2 col-md-4 col-sm-12">
              <h5 class="w-100 h-100 align-middle text-dark text-right text-center text-lg-right">{{ crimeType }}</h5>
          </div>
          <p class="text-muted text-center w-100 position-absolute mt-n2 d-none d-lg-block"><small>{{ crimeType }}&emsp;<i class="fas fa-long-arrow-alt-right"></i>&emsp;{{crimeTypeMappings[crimeType]}}</small></p>
          <div class="col-lg-8 col-md-4 d-none d-md-block my-auto ">

            <div class="w-100 bg-dark line">

            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12">
            <app-dropdown-menu
              [styles]="dropdownStyles"
              [data]="applicationCrimeTypes"
              (selectedMenuItemChange)="crimeTypeMappingObjectUpdate(crimeType, $event)"
            >
            </app-dropdown-menu>
          </div>
        </div>



      </div>
      <hr class="my-4">
      <div class="ArrestTitle">
        <div class="row">
          <h2 class="text-center w-100">Arrest Mapping</h2>
        </div>
      </div>

      <div class="row ml-2">

        <div class="mt-4 w-100 row d-none d-md-flex ">
          <div class="col-lg-2 col-md-4 col-sm-12">
            <h3 class="w-100 h-100 text-dark m-0 text-center" name="button">File Headers</h3>
          </div>
          <div class="col-lg-8 col-md-4 d-none d-md-block">

          </div>
          <div class="col-lg-2 col-md-4 col-sm-12">
            <h3 class="w-100 h-100 m-0 text-dark text-center" name="button">Database Headers</h3>
          </div>
        </div>

        <div *ngFor="let type of userArrestTypes" class="mt-4 w-100 row">
          <div class="col-lg-2 col-md-4 col-sm-12">
              <h5 class="w-100 h-100 align-middle text-dark text-right text-center text-lg-right">{{ type }}</h5>
          </div>
          <p class="text-muted text-center w-100 position-absolute mt-n2 d-none d-lg-block"><small>{{ type }}&emsp;<i class="fas fa-long-arrow-alt-right"></i>&emsp;{{arrestMappings[type]}}</small></p>
          <div class="col-lg-8 col-md-4 d-none d-md-block my-auto ">

            <div class="w-100 bg-dark line">

            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12">
            <app-dropdown-menu
              [styles]="dropdownStyles"
              [data]="applicationArrestTypes"
              (selectedMenuItemChange)="ArrestMappingObjectUpdate(type, $event)"
            >
            </app-dropdown-menu>
          </div>
        </div>



      </div>
    </div>
  </div>

  <div id="censusBlockMapping" class="">
    <h3 class="w-100 text-center my-5">No Mappings Needed</h3>
  </div>

  <div id="censusInformationMapping" class="">
    <h3 class="w-100 text-center my-5">No Mappings Needed</h3>
  </div>

  <div class="row ml-2">
    <div  class="row w-100 mb-4">
        <div class="col-lg-10 col-md-8 d-none d-md-block">

        </div>
        <div class="col-lg-2 col-md-4 col-sm-12 mt-4">
          <button (click)="import()" class="btn btn-success float-right w-100" type="button" name="button">Import</button>
        </div>
    </div>
  </div>
</div>









<!-- Modal -->
<div class="modal fade m-auto" id="addCityModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel"><b>Add City</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <h6>City Name</h6>
          <input [(ngModel)]="newCity" class="w-100" type="text" name="" value="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addCity()">Add</button>
      </div>
    </div>
  </div>
</div>
