
<div id="content" class="row m-0" (window:resize)="onResize($event)">
  <h3 id="expand" class="d-none m-2 position-absolute"><i (click)='toggleSidePanel($event)' class="fas fa-arrow-right"></i></h3>
  <div id="sidePanel" class="col-sm-0 col-md-5 col-lg-3 h-100 overflow-auto">
    <h3 class="text-center my-4">Filter Options<i (click)='toggleSidePanel($event)' class="mr-2 float-right fas fa-arrow-left"></i></h3>
    <div class="">
      <app-generic-filter-options
        (filterOptionsChange)="genericSelectedFiltersChanged($event)"
      ></app-generic-filter-options>
      <div class="w-100">
        <button class="btn btn-info d-block mx-auto my-4 w-50" type="button" (click)="loadData()">Select</button>
      </div>
    </div>
  </div>
  <div id="mainContent" class="col-sm-12 col-md-7 col-lg-9">

    <div class="d-inline-block col-lg-6">
      <app-is-dark-pie-chart
      ></app-is-dark-pie-chart>
    </div>

    <div class="d-inline-block col-lg-6">
      <app-is-dark-bar-chart
        [crimeTypes]="filtersOptions.crimeTypes"
      ></app-is-dark-bar-chart>
    </div>

    <div class="d-block col-lg-10 m-auto">
      <app-is-dark-bar-chart
        [crimeTypes]="filtersOptions.crimeTypes"
      ></app-is-dark-bar-chart>
    </div>


  </div>
</div>
