<div class="mb-4">
  <app-filter-option-header
    [title]="title"
    [tooltipMessage]="tooltipMessage"
    [collapseDivHref]="collapseDivHref"
    [collapseIcon]="collapseIcon"
  >
  </app-filter-option-header>

  <div id={{collapseDivId}} class="collapse p-2">
    <div class="d-block text-center">
      <h6>Max Value</h6>
      {{selectedValues.max + suffix}}
    </div>

    <div>
      <mat-slider
        class="w-100"
        [min]="min"
        [max]="max"
        [value]="selectedValues.max"
        (change)="maxValueChange($event)"
      ></mat-slider>
    </div>

    <div class="d-block text-center">
      <h6>Min Value</h6>
      {{selectedValues.min + suffix}}
    </div>

    <div>
      <mat-slider
        class="w-100"
        [min]="min"
        [max]="max"
        [value]="selectedValues.min"
        (change)="minValueChange($event)"
      ></mat-slider>
    </div>
  </div>
</div>
