$info_icon_color: #0388fc;
$green_icon_color: #32a83a;
$red_icon_color: #fc0516;

#tooltip {
  font-size: 1.5rem;
  color: $info_icon_color;
}

.far {
  color: grey;
}

.red-icon {
  font-size: 1.8rem;
  color: $red_icon_color;
}

.green-icon {
  font-size: 1.8rem;
  color: $green_icon_color;
}
