<div>
  <div>
    <h4 class="d-inline pl-2">{{ privateTitle }}</h4>

    <a
      class="d-inline float-right pr-2"
      data-toggle="collapse"
      href={{collapseDivHref}}
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample">

      <i
        id="collapse-icon"
        class="fas fa-caret-down"
        (click)="toggleIcon()">
      </i>
    </a>

    <i
      id="tooltip"
      class="d-inline float-right pr-2 fas fa-info-circle"
      data-toggle="tooltip"
      data-placement="top"
      title={{privateTooltipMessage}}>
    </i>

  </div>

  <div id={{collapseDivId}} class="collapse p-2">
    <div class="d-inline-block mr-4 mb-4" *ngFor="let filterOption of privateFilterOptions">

      <input
      class="align-middle"
      type="checkbox"
      (change)="updateCheckboxes(filterOption)"
      [checked]="filterOption.checked">

      <span
      class="pl-2 align-middle">
        {{ filterOption.display }}
      </span>
    </div>
  </div>

</div>
