<div>
  <div>
    <h4 class="d-inline pl-2">{{ privateTitle }}</h4>

    <a
      class="d-inline float-right pr-2 align-middle"
      data-toggle="collapse"
      href={{collapseDivHref}}
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample">

      <i
        id="collapse-icon"
        class="far fa-plus-square"
        (click)="toggleIcon()">
      </i>
    </a>

    <span class="align-middle d-inline float-right pr-2 ">
      <i
        id="tooltip"
        class="fas fa-info"
        data-toggle="tooltip"
        data-placement="top"
        title={{privateTooltipMessage}}>
      </i>
    </span>


  </div>

  <div id={{collapseDivId}} class="collapse p-2">
    <div class="d-inline-block mr-4 mb-4" *ngFor="let filterOption of privateFilterOptions">

      <input
      class="align-middle"
      type="checkbox"
      (change)="updateCheckboxes(filterOption)"
      [checked]="filterOption.checked">

      <span
      class="pl-2 align-middle">
        {{ filterOption.display }}
      </span>
    </div>
  </div>

</div>
