$info_icon_color: #0388fc;
$green_icon_color: #32a83a;
$red_icon_color: #fc0516;
$icon_size: 1.5rem;

#tooltip {
  font-size: 1.1rem;
  color: $info_icon_color;
}

.far {
  color: grey;
}

.red-icon {
  font-size: $icon_size;
  color: $red_icon_color;
}

.green-icon {
  font-size: $icon_size;
  color: $green_icon_color;
}

.filter-option-header {

}
