/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";

@import "/home/byron/dev/Project-White-Wolf/django/static/css/_colors.scss";
@import "/home/byron/dev/Project-White-Wolf/django/static/css/content.scss";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


// $theme_color_1: #7D7F80;
// $theme_color_2: #9615DB;
// $theme_color_3: #D2D3D3;
// $theme_color_4: #555759;
// $theme_color_5: #2d3032;
//
//
// $bootstrapNavbarHieght: 56px;
//
// #content > div {
//   padding: 0;
// }
//
// #mainContent {
//   background-color: $theme_color_5;
// }
//
// #sideContent {
//   height: 100vh;
//   background-color: $theme_color_3;
// }

* {
  outline: none !important;
}

.pointer {
  cursor: pointer;
}

.line {
  height: 2px;
}

.clear-button:focus {
  outline: none;
}
