<div class="mb-4">
  <app-filter-option-header
    [title]="title"
    [tooltipMessage]="tooltipMessage"
    [collapseDivHref]="collapseDivHref"
    [collapseIcon]="collapseIcon"
  >
  </app-filter-option-header>

  <div id={{collapseDivId}} class="collapse p-2">
    <div class="d-inline-block mb-4 col" *ngFor="let filterOption of filterOptions">

      <input
      class="align-middle"
      type="checkbox"
      (change)="updateCheckboxes(filterOption)"
      [checked]="filterOption.checked">

      <span
      class="pl-2 align-middle">
        {{ filterOption.display }}
      </span>
    </div>
  </div>

</div>
