<div class="mb-4">
  <app-filter-option-header
    [title]="title"
    [tooltipMessage]="tooltipMessage"
    [collapseDivHref]="collapseDivHref"
    [collapseIcon]="collapseIcon"
  >
  </app-filter-option-header>

  <div id={{collapseDivId}} class="collapse p-2">

    <div>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker1"
          placeholder="Start Date"
          (dateInput)="startDateInput($event)"
        >

        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker

          #picker1
        ></mat-datepicker>
      </mat-form-field>
    </div>


    <div>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker2"
          placeholder="End Date"
          (dateInput)="endDateInput($event)"
        >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>


  </div>

</div>
