<div class="mb-4">
  <app-filter-option-header
    [title]="title"
    [tooltipMessage]="tooltipMessage"
    [collapseDivHref]="collapseDivHref"
    [collapseIcon]="collapseIcon"
  >
  </app-filter-option-header>

  <div id={{collapseDivId}} class="collapse p-2">

    <div>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker1"
          placeholder="Start Date"
          (dateInput)="startDateInput($event)"
          [formControl]="serializedStartDate"
        >

        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #picker1
          [startAt]="dateDefaults.startDate"
        ></mat-datepicker>
      </mat-form-field>
    </div>


    <div>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker2"
          placeholder="End Date"
          (dateInput)="endDateInput($event)"
          [formControl]="serializedEndDate"
        >
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #picker2
          [startAt]="dateDefaults.endDate"
        ></mat-datepicker>
      </mat-form-field>
    </div>


  </div>

</div>
