{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mapping</title>

    <link rel="stylesheet" href="{% static "main.css"%}">
  </head>

  <body>
    <header>
      <nav class="">
          <div class="">
            <a class="">Project White Wolf</a>
          </div>
      </nav>
    </header>

    <form method="post" action="http://127.0.0.1:8006/api" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" name="" value="">
    </form>
    {% block content %}{% endblock %}
    <script src="{% static "bundle.js"%}" type="text/javascript"></script>

  </body>
</html>
