<div>
  <div>
    <h4 class="d-inline pl-2">TITLE</h4>

    <a
      class="d-inline float-right pr-2"
      data-toggle="collapse"
      href="#collapseExample"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample">

      <i
        id="collapse-icon"
        class="fas fa-caret-down"
        (click)="toggleIcon($event)">
      </i>
    </a>

    <i
      id="tooltip"
      class="d-inline float-right pr-2 fas fa-info-circle"
      data-toggle="tooltip"
      data-placement="top"
      title="Tooltip">
    </i>

  </div>

  <div id="collapseExample" class="collapse">
    HELLO WORLD
  </div>

</div>
